body {
  background-color: black;
  font-family: Arial;
  color: black;
}
h1 {
  color: grey;
  font-family: verdana;
}
.maindiv {
  background-color: white;
  color: "black";
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
}
